mixin header(data)
  header.header&attributes(attributes)
    .header__container.container
      .header__logo.logo


      nav.header__nav.nav.nav_primary
        button.nav__trigger

        .nav__list-w

          ul.nav__list
            li.nav__item.nav__item_current
              a.nav__link(href="#") Главная
            li.nav__item
              a.nav__link(href="#") Проекты
            li.nav__item
              a.nav__link(href="#") О нас
            li.nav__item
              a.nav__link(href="#") Контакты
