@font-face
  font-family: 'Montserrat'
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/subset-Montserrat-Regular.woff2') format('woff2'), url('../fonts/subset-Montserrat-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap


@font-face
  font-family: 'Montserrat'
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url('../fonts/subset-Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/subset-Montserrat-SemiBold.woff') format('woff')
  font-weight: 600
  font-style: normal
  font-display: swap


@font-face
  font-family: 'Montserrat'
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url('../fonts/subset-Montserrat-Italic.woff2') format('woff2'), url('../fonts/subset-Montserrat-Italic.woff') format('woff')
  font-weight: normal
  font-style: italic
  font-display: swap


@font-face
  font-family: 'Montserrat'
  src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/subset-Montserrat-Light.woff2') format('woff2'), url('../fonts/subset-Montserrat-Light.woff') format('woff')
  font-weight: 300
  font-style: normal
  font-display: swap


@font-face
  font-family: 'Montserrat'
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url('../fonts/subset-Montserrat-Medium.woff2') format('woff2'), url('../fonts/subset-Montserrat-Medium.woff') format('woff')
  font-weight: 500
  font-style: normal
  font-display: swap


@font-face
  font-family: 'Montserrat'
  src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'), url('../fonts/subset-Montserrat-SemiBoldItalic.woff2') format('woff2'), url('../fonts/subset-Montserrat-SemiBoldItalic.woff') format('woff')
  font-weight: 600
  font-style: italic
  font-display: swap

$m: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif
